.hr-container{
    .interview_card{
        display: none;
        &.active{
            display: block;
        }
    }
    .requirement_list_container{
        border-left:1px solid #000;
    }
    .requirement-list {
        .member-container {
            p {
                display: flex;
                justify-content: space-between;    
            }
        }
    }
    .nav-link{
        color: lightgreen;
        font-weight: 500;
        &.active{
            background: lightgreen;
            color: #000;
        }
    }
    .interview-topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .addnewcandidate{
            color: lightgreen;
            font-weight: 500;
            cursor: pointer;
        }
    }
    .btn-primary{
        color: #000;
        background: lightgreen;
        border-color: lightgreen;
    }
}

#requirement_list_container {
    display: flex;
    justify-content: space-around;
}