.team-members{
    display: flex;
    flex-flow: column;
    max-width: 75rem;
    margin: 1rem auto;
    &-title{
        margin:  0 0.5rem;
        color: #e68a00;
    }
    .members{
        display: flex;
        align-items: center;
        justify-content: center;
        .member-container{
            flex: 1;
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 1rem;
            margin: 1rem 0.5rem;
            .name {
                font-size: 1rem;
            }
        }
    }
}
.addRequirementForm{
    &-form{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        button{
            width: 100%;
        }
    }
}