<div>
    <ul>
        <li onclick="showInterviews()">Interviews</li>
        <li>Accounts</li>
    </ul>
</div>
<div>
    <div id="interviewsContainer"></div>
        <ul>
            <li>

            </li>
        </ul>
    <div id="accountsContainer"></div>
</div>

<div class="d-none card" style="width: 18rem;" id="duplicateCard">
    <div class="card-body">
        <h5 class="card-title">Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Interview Date</h6>
        <p class="card-text">Skills</p>
        <p class="card-status">Status</p>
    </div>
</div>