<div class="hr-container container-fluid">
    <div class="navtab-container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" onclick="hr.resetAccountContent()"  id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Interviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="hr.showAccounts()" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Accounts</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <ul id="interview_filter" class="nav nav-pills">
                    <li class="nav-item">
                        <a onclick="hr.handleCardShow(event)" id="interview_filter_schd" class="nav-link active" href="javascript:void(0)">Scheduled</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="hr.handleCardShow(event)" id="interview_filter_selected" class="nav-link" href="#">Selected</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="hr.handleCardShow(event)" id="interview_filter_rejected" class="nav-link" href="#">Rejected</a>
                    </li>
                </ul>
                <div id="interview_candidates" class="row">
                </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div id="account_list_container" class="row">
                    <div id="account_list" class="col-sm-6"></div>
                    <div id="requirement_list_container" class="col-sm-6">
                        
                        <div class="requirement-list">

                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>